<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
        <label for="nameBook">Введите название книги:</label>
        <input type="text" th:field="*{nameBook}" id="nameBook"/>
        <div style="color:red" th:if="@{#fields.hasErrors('nameBook')}" th:errors="*{nameBook}">Name book error</div>
    <br/>
        <label for="nameAuthor">Введите автора:</label>
        <input type="text" th:field="*{nameAuthor}" id="nameAuthor"/>
        <div style="color:red" th:if="@{#fields.hasErrors('nameAuthor')}" th:errors="*{nameAuthor}">Name author error</div>
    <br/>
        <label for="yearWritten">Введите год:</label>
        <input type="text" th:field="*{yearWritten}" id="yearWritten"/>
        <div style="color:red" th:if="@{#fields.hasErrors('yearWritten')}" th:errors="*{yearWritten}">Year written error</div>
    <br/>

        <input type="submit" value="Создать!"/>
</form>

</body>
</html>